.home .hero img {
    width: 210px
}

.navbar img {
    margin: 0.1em 0.1em 0.1em 0.1em
}


img {
    margin: 0.5em 1.5% 0.5em
    height: "auto"
    display: "block"
}

/* purgecss start ignore */
// @tailwind base;
// @tailwind components;
/* purgecss end ignore */
// @tailwind utilities;